body {
  background:
  linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.1)),
  url("../images/jollibee-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
}
#box1 {
  height: 8%;
  background-color: darkred;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  padding-right: 3rem;
}
a{
  text-decoration: none;
}
#logo {
  height: 125%;
  width: auto;
  margin-bottom: 0.25rem;
}
#user, #logout {
  padding: 0.75rem;
  padding-inline: 1.5rem;
  border: 0.15rem solid;
  color: white;
  border-radius: 2rem;
}
#box2 {
  margin-left: 8%;
  margin-top: 9%;
  padding: 2rem;
  padding-bottom: 3rem;
  padding-inline: 3rem;
  width: 38rem;
  border: 0.5rem solid;
  border-color: darkred;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0.5rem 0.5rem 1rem;
}
table {
  padding: 0.5rem;
  border-color: darkred;
  border-radius: 2rem;
  background-color: darkred;
}
th, td {
  border-radius: 1rem;
  padding: 0.5rem;
  padding-inline: 1rem;
  background-color: white;
  text-align: center;
}